{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Contact Me</p>

    <div class='p-5'>
        <div class='name mb-4'>
            <p class='text-lg font-semibold'>Name:</p>
            <p class='p-3 bg-gray-900 border-slate-700 rounded-lg'>Keerthi R</p>
        </div>
        <div class='email mb-4'>
            <p class='text-lg font-semibold'>Email:</p>
            <p class='p-3 bg-gray-900 border-slate-700 rounded-lg'>keerr1209@gmail.com</p>
        </div>
        <div class='phone mb-4'>
            <p class='text-lg font-semibold'>Phone:</p>
            <p class='p-3 bg-gray-900 border-slate-700 rounded-lg'>+91 962-044-0212</p>
        </div>
        <div class='message mb-4'>
            <p class='text-lg font-semibold'>Message:</p>
            <p class='p-3 bg-gray-900 border-slate-700 rounded-lg'>Feel free to reach out to me.</p>
        </div>
    </div>
</div>
{% endblock %}
